.layout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background: #1C1D3B;
  align-items: center;

  &__header {
    &-logo {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 520px;
      height: auto;
      margin-top: 24px;
      svg {
        width: 520px;
        height: 180px;
        display: block;
      }
      h3 {
        background: #D8E054;
        padding: 8px 16px;
        border-radius: 25px;
        font-size: 20px;
      }
    }
  }

  &__content {
    background: #FFFAC2;
    width: 1040px;
    margin-top: 32px;
    border-radius: 16px 16px 0 0;
    padding: 36px 72px 23px 72px;
  }
}
